{% if language == 'en' %}
	<a class="navbar-text last-item" href="/nl">NL</a>
{% elseif language == 'nl' %}
	<a class="navbar-text last-item" href="/fr">FR</a>
{% elseif language == 'fr' %}
	<a class="navbar-text last-item" href="/nl">NL</a>
{% else %}
	<a class="navbar-text last-item" href="nl">NL</a>
{% endif %}