<h1>hello</h1>

{% if language == 'en' %}
	<h2>English</h2>
{% elseif language == 'nl' %}
	<h2>Nederlands</h2>
{% elseif language == 'fr' %}
	<h2>Francais</h2>
{% else %}
	<h2>Language unknown</h2>
{% endif %}